---
import ExperienceItem from "./ExperienceItem.astro";

const Exp = [
  {
    
    title: "Auxiliar técnico en salas de computo",
    empresa: "Universidad de la Amazonia",
    date: "Febrero 2025 - Actualmente",
    description:
      "Soporte técnico a las salas de cómputo y atención al cliente en incidencias presentadas en la plataforma de la Universidad",
  },
  {
    
    title: "Desarrollador front-end",
    empresa: "Proyectando lideres RH",
    date: "Enero 2025 - Actualmente",
    description:
      "Diseñar y desarrollar toda la parte front-end y backend de un software educativo",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-white ml-3">
  {
    Exp.map((Exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...Exp} />
      </li>
    ))
  }
</ol>
